///////////////////////////////////////////
////////////  SASS VARIABLES  /////////////
///////////////////////////////////////////

$font-roboto: "roboto";

$theme-black: #444;
$theme-white: #fff;
$theme-blue: #1790ff;
$theme-orange: #2a98fb;
$theme-orange-2: #b44606;
$theme-dark-chocolate: #271002;

$primary-color: $theme-orange;

$background-grey: #f0f2f5;

$layout-header-height: 64px;
$layout-aside-width: 350px;
